body {
  margin: 0;
  background-color: #faf8f7;
}

h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;

  /* or 108% */
  text-align: center;

  /* Just White */
  color: #ffffff;
}
p {
  /* H2 Mobile */
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  text-align: center;

  /* Grey */
  color: #bababa;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 20px;
}
